@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }

  a {
    @apply text-indigo-400 hover:text-indigo-300;
  }
}
